{% extends "main.html" %} {% block content %} {% include "header.html" %}
<div class="row text-center">
    {% for record in records %}
    <div class="col-md-3 col-sm-6 hero-feature" style="margin: 40px;">
        <div class="thumbnail">
            <img src="http://placehold.it/800x500" alt="">
            <div class="caption">
                <div class="row">
                    <h2>{{record.title}}</h2></div>
                <div class="row">
                    <h4>{{record.artist_name}}</h4></div>
                <div class="row">
                    <h6>{{record.year}}</h6></div>
                <p>
                    <a href="/records/{{ record.id }}" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
        {% if loop.index is divisibleby 3 %}
        <br>
        <br> {% endif %}
    </div>
    {% endfor %}

</div>
{% endblock %}
