<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>Welcome!</h1>
		<div class="span4"><h4>Test1</h4></div>
		<div class="span4"><h4>TEST2</h4></div>
		<div class="span4"><h4>TEST3</h4></div>
    </div>
    {% for record in records %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 restaurant-list">
            <h3>{{record.title}}</h3>
        </div>
        <div class="col-md-1"></div>
    </div>
    {% endfor %}
</body>

</html>