{% extends "main.html" %} {% block content %} {% include "header.html" %}
<div class="row text-center">
            <div class="col-md-10 col-sm-10 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h1>{{artist.artist_name}}</h1>
                        <h2>Current Records</h2>
                        {% for record in records %}
                        <h3><a href="/records/{{ record.id }}">{{ record.title }}</a></h3>
                        {% endfor %}
                    </div>
                </div>
            </div>
    <div class="col-md-1 col-sm-1 hero-feature"></div>
{% endblock %}